.CardProfile {
  /* width: 390px; */
  width: 100%;
  display: flex;
  background-color: #13171c !important;
}

.CardProfile-img{
  width: 110px;
  height: 110px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfilePicture {
  border-radius: 50%;
}

.CardContent-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.CardProfile-subs {
  display: flex;
  justify-content: space-evenly;
}